*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
  background-color: brown;
  min-height: 100px;
}

nav{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 100px;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: azure;
  font-size: 20px;
}

h2{
  color: paleturquoise;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


ul{
  display: flex;
  justify-content: space-between;
}
li{
  margin-right: 20px;
}


/* https://www.freecodecamp.org/news/css-flexbox-tutorial-with-cheatsheet/ */

/* total reference */